.welcome-banner {
  background-color: #f8f8f8;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content p {
  font-size: 0.9em;
}

.right-content {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-right: 5px; /* Adjust this value to increase/decrease space */
  font-size: 1em;
  cursor: pointer;
}

.social-icon.tiktok {
  color: #69c9d0;
}

.social-icon.instagram {
  color: #8a3ab9;
}

.social-icon.facebook {
  color: #3b5998;
}
