/* styles/FeatureSection.css */
.feature-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .feature-block {
    position: relative;
    text-align: center;
    padding: 20px; /* Add padding for better spacing */
    width: 100%; /* Make each block take the full width available */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow: hidden; /* Hide overflow to prevent full border from being visible initially */
  }
  
  .feature-symbol {
    font-size: 48px; /* Bigger symbol size */
  }
  
  .feature-text {
    margin-top: 10px;
    font-size: 18px; /* Bigger text size */
  }
  
  .feature-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    pointer-events: none;
  }
  
  .feature-block:hover::before {
    border-color: black;
  }
  