.navigation-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #3498db;
  margin-top: 20px;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.menu-item:hover {
  text-decoration: underline;
}
