.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
}

.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.company-logo {
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.contact-set {
  flex: 1;
  margin: 0 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-icon {
  margin-right: 10px;
}
