.photo-slider {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto;
  }
  
  .photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo-box {
    width: 400px; /* Set a fixed width for the boxes */
    height: 600px; /* Set a fixed height for the boxes */
    margin: 50px;
    text-align: center;
    border: 1px solid #120dac; /* Add a border around the box */
    padding: 100px; /* Add padding inside the box */
    overflow: hidden; /* Hide overflow content */
  }
  
  .photo-img {
    width: 400px; /* Adjust the width of the photos as needed */
    height: 100px; /* Adjust the height of the photos as needed */
  }
  
  .photo-description {
    margin-top: 75px;
    font-size: 14px; /* Adjust the font size of the description as needed */
    white-space: normal; /* Allow text to wrap to the next line */
    word-wrap: break-word; /* Allow breaking of words if they are too long */
  }
  
  .navigation-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
  }
  
  .left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }