.about-us-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .left-content {
    flex: 1;
  }
  
  .left-content h2 {
    font-size: 40px;
    font-weight: bold;
  }
  
  .right-content {
    flex: 4;
  }
  
  .right-content p {
    margin-bottom: 10px;
  }
  